{% for p in page.subpage %}
<div class="row-sm-40 row-md-40 row-lg-40 subpage-content" id="{{p.post_name}}">
    {% if p.lexique is not empty %}  
        <div class="subpage-inner subpage-inner-text col-sm-12 col-md-12 col-lg-12">
            <h3>{{p.post_title}}</h3>
            {{p.lexique}}
        </div>
    {% else %}
        <div class="subpage-inner subpage-inner-text col-sm-12 col-md-7 col-lg-7">
            <h3>{{p.post_title}}</h3>        
            {{p.post_content}}
        </div>
    {% endif %}
    {% if p.image_child is not empty %}
    <div class="subpage-inner subpage-inner-img col-sm-12 col-md-5 col-lg-5">
        <img src="{{p.image_child}}" alt="">
    </div>
    {% endif %}
    <div class="subpage-border"></div>
</div>
{% endfor %}