<div class="bloc-link-wrapper">
    <div class="bloc-link-container">
        <a href="#" class="bloc-link-1 bloc-link">
            <img src="{{img_dir}}/bloc-link-1.jpg" alt="">
            <span>Découvrir<br/>Cordiva en vidéo</span>
        </a>

        <a href="{{ link_decouvrir }}" class="bloc-link-2 bloc-link">
            <img src="{{img_dir}}/bloc-link-2.jpg" alt="">
            <span>Cordiva<br/>pour les patients</span>
        </a>

        <a href="{{ link_decouvrir }}" class="bloc-link-3 bloc-link">
            <img src="{{img_dir}}/bloc-link-3.jpg" alt="">
            <span>Cordiva<br/>pour les professionnels</span>
        </a>
    </div>
</div>