<div class="wrapper">
    <div class="logo-wrapper">
        <div class="logo-center">
            <a class="logo-link valign" href="{{home_url}}" rel="home">
                <img src="{{img_dir}}/logo.png" alt="">
            </a>
        </div>                          
    </div>

    <div class="nav-main">
        <div class="main-menu">
            <ul class="first-menu">
            {% for item in main_menu.items %}            
                <li class="first-menu-li{% if item.children %} haschild{% endif %}" data-id={{item.id}}>
                    <a href="{{item.link}}" class="inner first-menu-link" title="{{item.title}}" id="{{ item.id }}">
                        <span class="first-menu-item">{{item.title}}</span>                    
                    </a>
                    <ul class="submenu submenu-{{item.id}} wrapper"> 
                        {% for child in item.children %}  
                        <li class="submenu-li">
                            <a href="{{child.link}}" title="{{child.title}}" class="submenu-link" id="{{child.id}}">
                                <span>{{child.title}}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>           
                </li>
            {% endfor %}
            </ul>        
        </div>
    </div>
</div>
<div class="header-submenu"></div>
