{% extends "base.twig" %}
{% block content %}
    
	{% include 'partials/bloc-menu-content.twig' %}

    <div class="content-headlight" style="background:url({{ page.image }}) center center no-repeat;background-size:cover;">
    	<div class="bg-img-mobile" style="background:url({{ page.image }}) center center no-repeat;background-size:cover;"></div>
    	<div class="wrapper headtitle">
    		<div class="valign">
    			<h1>{{ page.titre }}</h1>
    			<p>{{ page.sous_titres }}</p>
    		</div>    		
    	</div>    	
    </div>
	
	<div class="page-content">
		<div class="wrapper">
			<div class="content">
				{% if page.contact is not empty %}
					{% include 'partials/bloc-page-content.twig' %}
					<span class='contact-title'>Contacts</span>
					{{page.contact}}
				{% elseif page.actu is not empty %}
					{% include 'partials/bloc-page-content.twig' %}
					{% include 'partials/latest-news.twig' %}
					{% include 'partials/latest-presse.twig' %}
				{% elseif page.lexique is not empty %}
					{{page.lexique}}
				{% elseif page.jobs is not empty %}
					{{page.jobs}}
				{% else %}
					{% include 'partials/bloc-page-content.twig' %}		
				{% endif %}
			</div>			
		</div>
	</div>
	

{% endblock %}