{% extends "base.twig" %}
{% block content %}
    
	{% include 'partials/bloc-menu-content.twig' %}
	
	<div class="page-content">
		<div class="wrapper">
			<div class="content">
				<a href="{{link_actualites}}">< Voir toutes les news</a>
				<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
					<section class="article-content">
						<h3 class="article-h1">{{post.title}}</h3>
						<img src="{{post.thumbnail.src('large')}}" alt="">	
						<div class="article-body">
							{{post.content}}
						</div>
					</section>
				</article>
			</div>			
		</div>
	</div>
	

{% endblock %}